<%= render "shared/header" %>
  <% if user_signed_in? && current_user.questions.exists? %>
  <div class="row align-items-md-stretch justify-content-center">
    <div class="col-md-8">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Port-Helperからの解答</h2>
        <div id="typed-strings">
        <p><%= @answer.answer %></p>
        </div>
        <span id="typed"></span>
        <h2>プロフィール</h2>
        プログラミング言語 : <%= @question.language %><br>
        フレームワーク : <%= @question.framework %><br>
        趣味 : <%= @question.hobby %><br>
        経験したお仕事 : <%= @question.former_job %><br>
        希望するエンジニア : <%= @question.desired_engineer %><br>
      </div>
    </div>
    <div class="col-md-3">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>質問はココ</h2>
        <%= link_to "プロフィール入力", new_question_path, class: 'btn btn-outline-secondary', type: 'button' %>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row align-items-md-stretch justify-content-center">
    <div class="col-md-8">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <h2>Port-Helperの使い方</h2>
        <div id="typed-strings">
        <p>Port-Helperは、未経験エンジニアによって作られました。作られた目的はあなたのエンジニアとしてのキャリアを支援し、あなたの持つスキルや興味を最大限に引き出し、最適なポートフォリオを作成するためのアドバイスを伝えるためです。
          エンジニアとしての成長は、自分自身が積極的に取り組むことが不可欠です。しかし、Port-Helperが提供するサービスを使うことで、方向性を定め効率的かつ効果的にスキルアップすることができるヒントを得ることができます。私は、あなたのエンジニアとしてのキャリアを支援したいと考えています。
          さあ、あなたも今すぐPort-Helperを使って、自分のスキルアップの可能性を広げましょう！Let's Port-Helper!!!</p>
        </div>
        <span id="typed"></span>

      </div>
    </div>
    <div class="col-md-3">
      <div class="h-100 p-5 bg-light border rounded-3">
        <br>
        <h2>ユーザー数: <%= @user_count %></h2>
        <br>
        <h2>解答数: <%= @question_count %></h2>
        <br>
        <%= link_to "プロフィール入力", new_question_path, class: 'btn btn-outline-secondary', type: 'button' %>
      </div>
    </div>
  </div>
  <% end %>
<%= render "shared/footer" %>