<%= render "shared/header" %>
  
  <div class="row align-items-md-stretch justify-content-center">
    <div class="col-md-8">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <%= form_with model: @question, url: questions_path do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
        <div id ="after_submit" >
          <h2>プロフィール入力</h2>
            
              <%= f.label :language %>
              <%= f.text_field :language, class: "form-control", placeholder: "言語を入力してください" %>
              <%= f.label :framework %>
              <%= f.text_field :framework, class: "form-control", placeholder: "フレームワークを入力してください" %>
              <%= f.label :hobby %>
              <%= f.text_field :hobby, class: "form-control", placeholder: "趣味を入力してください" %> 
              <%= f.label :former_job %>
              <%= f.text_field :former_job, class: "form-control", placeholder: "前職を入力してください" %> 
          <div class="form-group">
              <%= f.label :desired_engineer, '目指すエンジニア像' %>
              <%= f.select :desired_engineer, options_for_select([
                ['ソフトウェアエンジニア', 'ソフトウェアエンジニア'],
                ['データエンジニア', 'データエンジニア'],
                ['ネットワークエンジニア', 'ネットワークエンジニア'],
                ['セキュリティエンジニア', 'セキュリティエンジニア'],
                ['フロントエンドエンジニア', 'フロントエンドエンジニア'],
                ['バックエンドエンジニア', 'バックエンドエンジニア'],
                ['AIエンジニア', 'AIエンジニア'],
                ['モバイルエンジニア', 'モバイルエンジニア'],
                ['IoTエンジニア', 'IoTエンジニア'],
                ['組込エンジニア', '組込エンジニア']
              ]), { include_blank: 'エンジニア像を選択してください' }, class: 'form-control' %><br>
              <%= f.submit "聞く！", class: "btn btn-primary", id: "submit" %>
              <% end %>
          </div>
        </div>
        <div id = "before_submit" >
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/fMEYb0W3_ec?rel=0" title="YouTubeビデオ" allowfullscreen></iframe>
          </div>
        </div>
    
      </div>
    </div>      
    <div class="col-md-3">
      <div class="h-100 p-5 bg-light border rounded-3">
        <div id = "before_submit2">
          <h1>作成中</h1>
          <p>動画をご覧になって<br>おまちください</p> 
        </div>  
      </div>
    </div>
  </div>

<%= render "shared/footer" %>